<div id="footer">
	<ul>
		<li><a class="title-font" target="_blank" href="https://github.com/qauinger/mountainstats">Source</a></li>
		<li><a class="title-font" target="_blank" href="http://qauinger.com">Qauinger</a></li>
		<li><a class="title-font" href="http://qauinger.com/mountainstats/dev">Develop</a></li>
		<li><a class="title-font" href="http://qauinger.com/mountainstats/legal">Legal</a></li>
	</ul>
</div>
