<div id="header">
    <a href="https://qauinger.com/mountainstats" class="active title-font"><img src="https://qauinger.com/mountainstats/public/img/icon.png">MountainStats</a>
    <div id="hamburger-list">
        <a class="title-font" href="https://qauinger.com/mountainstats">Home</a>
        <a class="title-font" href="https://qauinger.com/mountainstats/about">About</a>
        <a class="title-font" href="https://qauinger.com/mountainstats/prefs">Preferences</a>
    </div>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        ☰
    </a>
</div>

<script>
    function myFunction() {
        var x = document.getElementById('hamburger-list');
        if (x.style.display === 'block') {
            x.style.display = 'none';
        } else {
            x.style.display = 'block';
        }
    }
</script>
