<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://qauinger.com/mountainstats/public/css/develop.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sen&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <div id="header">
            <a href="https://qauinger.com/mountainstats" class="active title-font"><img src="https://qauinger.com/mountainstats/public/img/icon.png">MountainStats</a>
            <div id="hamburger-list">
                <a class="title-font" href="https://qauinger.com/mountainstats/dev">Develop</a>
            </div>
        </div>
        <br>
        <main><%- body %></main>
    </div>
</body>
</html>
