<h3>Welcome to MountainStats!</h3>
<hr>
<p>
    This helpful tool gives important insight to the
    status of trails at your favorite mountain resort. Instead of looking at hard-to-read tables
    stating "open/closed", simply navigate to the respective MountainStats page, where live trail
    conditions are intuitively displayed in a graphical format. This allows you to gain a better
    understanding of which trails are available for skiing.
</p>   
<p>
    Mountainstats was an idea I had back in 2019. My first prototype was a short script
    I wrote on my phone that overlayed red and green images that outlined the trails to indicate
    status. It was very poorly written, and took way too long to run. (Not the best idea to combine
    80+ images into one). I received a lot of great feedback from friends and family, which encouraged
    me to bring this idea to the public for everyone to use. It has now been redesigned to be faster,
    have a higher quality, and be accessible to all devices, to the best of my ability.
</p>
<p>
    MountainStats works by scanning the selected ski resort's webpage that displays the statuses of ski
    trails and lifts. This ensures that the image displayed to the user is the most up-to-date. The
    information collected is then processed and translated into an image for the user's pleasure.
</p>
<p>
    There are not many mountains to choose from right now. The first mountain mapped was Bristol
    Mountain in Canandaigua, NY. I grew up on this mountain. Mapping out trails takes a lot of time and 
    effort on my part. Despite this, I am devoted to keeping this page running and adding new mountains
    as they are requested. If you'd like for a mountain to be added to MountainStats, please don't
    hesitate to <a href="https://qauinger.com/mountainstats/contact" class="underline">contact</a> me.
</p>
<br>
<p style="float:right; color:gray;"><%-name%>-<%-version%></p>
