<h3>Develop</h3>
<hr>
<p>
    On this page are self-created tools that I use to add new content to this site.
</p>   
<h3>Tools</h3>
<hr>
<p><a href="http://qauinger.com/mountainstats/dev/pathmapper" class="underline">PathMapper</a> - Use this to draw the paths of trails/lifts that will be overlayed on mountain maps.</p>
