<h3>Terms of Service</h3>
<hr>
<p><b>By using this site, you agree to the following terms of service,
    and acknowledge that you understand the notices below.</b></p>
<p>
    The information provided on this website is intended for general reference only.
    Users of this website are reminded to always follow the rules and regulations of
    the ski mountain they are visiting and to always heed the instructions of local
    mountain officials. This website should not be used as a substitute for proper
    on-site navigation and should not be relied upon as a sole source of information
    while on a mountain.
</p>
<p>
    MountainStats cannot guarantee the validity of the information found here.
    While we use reasonable efforts to include accurate and up to date information,
    we make no warranties as to the accuracy of the content and assume no liability
    or responsibility for an error in the content.
</p>
<p>
    MountainStats is not endorsed by, directly affiliated with, maintained, authorized,
    or sponsored by any resort. All product and site names are the registered
    trademarks of their original owners. The use of any trade name or trademark is for
    identification and reference purposes only and does not imply any association with
    the trademark holder of their product brand.
</p>
<p id="tos-ack-btn">Click here to acknowledge the terms, and hide the agreement reminder. <a class="underline"  href="javascript:void(0);" onclick="ackTerms()">I have read the terms of service.</a></p>
<h3>Privacy Policy</h3>
<hr>
<p>
    MountainStats respects the privacy of our users. We do not collect or sell any
    personal data about our users. The only data that we store is cookies on the users'
    own browser, which are used for site functionality and to enhance the user experience.
</p>

<script>
    window.onload = function() {
        if(document.cookie.includes('tos-acknowledge=true')) {
            var x = document.getElementById('tos-ack-btn');
            x.style.display = 'none';
        }
    }

    function ackTerms() {
        document.cookie = 'tos-acknowledge=true; path=/';
        var x = document.getElementById('tos-ack-btn');
        x.style.display = 'none';
    }
</script>
