* {
    --footer-height: 80px;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Helvetica;
    background: #222222;
    line-height: 1.5em;
}

@media (max-width: 1024px) {
    body {
        padding-left: 2%;
        padding-right: 2%;
    }
}

@media (min-width: 1024px) {
    body {
        padding-left: 20%;
        padding-right: 20%;
    }
}

#container {
    min-height: 100%;
    position: relative;
}

#header {
    height: 50px;
    display: inline;
}

#body {
    padding: 10px;
    padding-bottom: - var(--footer-height);
}

#header-hypers li {
    display: inline;
    list-style: none;
}

main {
    float: left;
    width: 100%;
    height: 200%;
    margin-left: 0%;
    background: #444A53;
}

.innertube {
    margin: 15px;
    margin-top: 0;
}

main ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

main ol a {
    color: #8BCEB8;
    text-decoration: none;
}

@media (max-width: 500px) {
    main ol a {
        font-size: 12px;
    }
}

@media (min-width: 501px) {
    main ol a {
        font-size: 24px;
    }
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--footer-height);
    text-align: center;
}

#title {
    color: #879FB9;
}

#footer-hypers {
    padding-inline-start: 0px;
}

#footer-hypers li {
    display:inline;
    padding-inline: 2%;
    justify-content: space-evenly;
    list-style:none;
}

#footer-hypers li a {
    text-decoration: none;
    color: #444A53;
}

.link {
    color: #8BCEB8;
    text-decoration: none;
}

.mtn {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #222222;
}

#prefbar {
    display:flex;
}

.section-header {
    color: #8BCEB8;
    font-size: 20px;
}

p {
    font-size: 20px;
    line-height: 30px;
    color: #8BCEB8;
}

.terms {
    font-size: 15px;
}
